@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Black.eot');
    src: url('../fonts/Roboto-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Black.woff2') format('woff2'),
        url('../fonts/Roboto-Black.woff') format('woff'),
        url('../fonts/Roboto-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-BlackItalic.eot');
    src: url('../fonts/Roboto-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-BlackItalic.woff2') format('woff2'),
        url('../fonts/Roboto-BlackItalic.woff') format('woff'),
        url('../fonts/Roboto-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.eot');
    src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/Roboto-Bold.woff') format('woff'),
        url('../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Thin.eot');
    src: url('../fonts/Roboto-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Thin.woff2') format('woff2'),
        url('../fonts/Roboto-Thin.woff') format('woff'),
        url('../fonts/Roboto-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Light.eot');
    src: url('../fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Light.woff2') format('woff2'),
        url('../fonts/Roboto-Light.woff') format('woff'),
        url('../fonts/Roboto-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium.eot');
    src: url('../fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Medium.woff2') format('woff2'),
        url('../fonts/Roboto-Medium.woff') format('woff'),
        url('../fonts/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Italic.eot');
    src: url('../fonts/Roboto-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Italic.woff2') format('woff2'),
        url('../fonts/Roboto-Italic.woff') format('woff'),
        url('../fonts/Roboto-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-MediumItalic.eot');
    src: url('../fonts/Roboto-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-MediumItalic.woff2') format('woff2'),
        url('../fonts/Roboto-MediumItalic.woff') format('woff'),
        url('../fonts/Roboto-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-BoldItalic.eot');
    src: url('../fonts/Roboto-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-BoldItalic.woff2') format('woff2'),
        url('../fonts/Roboto-BoldItalic.woff') format('woff'),
        url('../fonts/Roboto-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.eot');
    src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff'),
        url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-LightItalic.eot');
    src: url('../fonts/Roboto-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-LightItalic.woff2') format('woff2'),
        url('../fonts/Roboto-LightItalic.woff') format('woff'),
        url('../fonts/Roboto-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-ThinItalic.eot');
    src: url('../fonts/Roboto-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-ThinItalic.woff2') format('woff2'),
        url('../fonts/Roboto-ThinItalic.woff') format('woff'),
        url('../fonts/Roboto-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

/* Core styles */

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", 'sans-serif';
    margin: 0;
    background-image: url('../images/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.section-subtitle {
    padding-top: 2.5rem;
    font-size: 0.875rem;
    font-weight: 500;
    text-transform: uppercase;
    color: gray;
    transition: all 0.4s ease 0s;
    margin: 0;
}

.blur-line {
    position: relative;
    display: inline-block;
    top: -2px;
    margin-left: 0.32rem;
    width: 50px;
    height: 4px;
    background-color:rgb(119, 18, 145);
    filter: blur(4px);
    border-radius: 4px;
    transition: all 1s ease 0s;
}

.section-subtitle:hover .blur-line {
    width: 90px;
    background-color:rgb(119, 18, 145);
}

.section-title {
    font-size: 2.625rem;
    font-weight: 700;
    text-transform: capitalize;
    margin-top: 0.9375rem;
}



/* /Core styles */

/* Main header */
.container_hd {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0.3125rem;
    background-image: linear-gradient(to bottom, #6600cc, #9900cc, #cc00cc);
    text-align: center;
    z-index: 10;
}

.main-header {
    display: flex;
    width: 1140px;
    margin: 0 auto;
    align-items: center;
}

.main-header__brand img {
    width: 56px;
    vertical-align: middle;
}

.main-navigation__item {
    display: inline-block;
    padding-left: 1.875rem;

}

.main-navigation__item a {
    font-size: 0.875rem;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(228, 226, 226);
    transition: all 0.4s ease 0s;
}

.main-navigation__item a:hover {
    color: white;

}
/* /Main header */

/* Footer styles */
.container_ft {
    margin-top: 7.5rem;
    width: 100%;
    background-image: linear-gradient(to bottom, #6600cc, #9900cc, #cc00cc);
}

.footer {
    display: flex;
    padding: 6.5rem 0;
    align-items: center;
    flex-direction: column;
}

.footer__brand img {
    width: 100px;
}

.footer-navigation__item {
    display: inline-block;
    padding-right: 1.875rem;
}

.footer-navigation__item a {
    font-size: 0.875rem;
    font-weight: 500;
    color: rgb(228, 226, 226);
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.4s ease 0s;
}

.footer-navigation__item a:hover {
    color: white;
}

.footer-social-media {
    display: flex;
}

.footer-social {
    display: inline-block;
    line-height: 2.81rem;
    margin-right: 0.75rem;
    text-align: center;
    cursor: pointer;
    height: 45px;
    width: 45px;
    background-color: white;
    border-radius: 2.25rem;
}

.footer-social:hover {
    background-image: linear-gradient(to bottom, #6600cc, #9900cc, #cc00cc);
}

.footer-social:hover i {
    color: white;
}

.footer-text {
    font-size: 0.875rem;
    font-weight: 300;
    color: white;
}
/* /Footer styles */

@media only screen and (max-width: 1199.98px) {
    .container {
        width: 95%;
    }

    .home__content h3 {
        padding-top: 7.5rem;
    }
}

@media only screen and (max-width: 991.98px) {
    .container {
        max-width: 720px;
    }

    .main-header {
        max-width: 720px;
    }
    
    .main-navigation {
        display: none;
    }

    .section-title {
        font-size: 2rem;
    }

    .footer-navigation {
        display: none;
    }

    .footer-text {
        text-align: center;
    }
}

@media only screen and (max-width: 767.98px) {
    
    .main-header {
        padding-left: 0;
        padding-right: 0;
    }
    
    .container {
        width: 90%;
    }

    .section-title {
        font-size: 1.5rem;
    }

}